* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #dddbdb;
}

.header-container {
	background-color: #f7f4f4;
	box-shadow: 0 25px 30px #00000031;
	border-radius: 10px;
	width: 70vw;
	height: 90vh;
	margin: 30px auto;
}
