* {
	margin: 0;
	padding: 0;
	color: #2a2a2b;
}
body {
	background-color: #dddbdb;
}

.header-container {
	display: flex;
	margin: 30px auto;
	background-color: #f7f4f4;
	box-shadow: 0 25px 30px #00000031;
	border-radius: 10px;
	width: 70vw;
	height: 90vh;
}

.info-container {
	gap: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* background-color: red; */
	margin: auto;
	width: 60%;
	height: 95%;
}

.summary h1,
.card-detail h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.summary p {
	text-align: justify;
}
.summary p,
.card-detail h5 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem;
}
.action {
	gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* background-color: green; */
	width: 100%;
	align-self: flex-start;
}
.button-container button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border: none;
	width: 150px;
	height: 40px;
	border-radius: 25px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.button-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.contact-button {
	background-color: #090929;
	color: #e0dede;
}
.download-button {
	background-color: none;
}
.icon {
	width: 20px;
	height: 20px;
}
.media-social {
	align-self: center;
}
.media-social ul {
	display: flex;
	align-self: flex-end;
}
.media-social-icon-list {
	cursor: pointer;
	margin-left: 1rem;
	list-style: none;
	width: 30px;
	height: 30px;
}
.media-social-icon-list img {
	width: 100%;
	height: 100%;
}

.image-card {
	width: 200px;
	height: 250px;
	background-color: #f7f4f4;
	border-radius: 5px;
	box-shadow: 10px 10px 10px #00000031;
}

.image-card img {
	display: block;
	width: 100%;
	height: 75%;
	background-color: gray;
	object-fit: fill;
}

/* responsive */
@media (max-width: 800px) {
	.header-container {
		width: 95vw;
		height: 100vh;
	}
	.info-container {
		gap: 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* background-color: red; */
		margin: auto;
		width: 95%;
	}
	.action {
		gap: 2rem;
	}
	.button-container button {
		font-size: 1rem;
		border-radius: 25px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		cursor: pointer;
	}
	.button-container {
		flex-direction: row;
	}

	.image-card {
		width: 200px;
		height: 250px;
		background-color: #f7f4f4;
		border-radius: 5px;
		box-shadow: 10px 10px 10px #00000052;
	}
	.image-card h5 {
		font-size: 1rem;
	}
}
